body {
    background-image: url("sunset.webp");
    background-repeat: no-repeat;
    background-size: cover;

}

.header {
    text-align: center;
    color: white;
    margin-top: 50px;
}

#title {
    font-size: 36px;
}

.container {
    background-color: #F2EFF2;
    padding: 20px;
    color: black;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    width: 600px;
    margin:15px auto;
}

.form-element-label {
    display: block;
    margin-bottom: 4px;

}

.form-element {
    margin-bottom: 20px;
    display: block;
}

.input-radio,
.input-checkbox {
    display: inline-block;
}

.form-controls {
    padding: 10px;
    border-radius: 4px;
    width: 300px;
}

#comments {
    border-radius: 4px;
    width:300px;
}

#submit {
    padding: 10px;
    border-radius: 4px;
    background-color: lightblue;

}

.button-container {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 480px) {
    .container { 
        width:350px;
        justify-content: unset;
}